<h1>Issued Books</h1>
<a href="/issues/add" class="btn btn-primary mb-3">Issue New Book</a>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Book</th>
      <th>Member</th>
      <th>Issue Date</th>
      <th>Due Date</th>
      <th>Return Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each issues}}
      <tr>
        <td>{{this.book.title}}</td>
        <td>{{this.member.name}}</td>
        <td>{{formatDate this.issueDate "YYYY-MM-DD"}}</td>
        <td>{{formatDate this.dueDate "YYYY-MM-DD"}}</td>
        <td>
          {{#if this.returnDate}}
            {{formatDate this.returnDate "YYYY-MM-DD"}}
          {{else}}
            <span class="text-danger">Not returned</span>
          {{/if}}
        </td>
        <td>
          {{#unless this.returnDate}}
            <form action="/issues/return/{{this._id}}?_method=PUT" method="POST" style="display:inline-block; margin-right: 5px;">
              <button type="submit" class="btn btn-sm btn-success">Return</button>
            </form>

            <form action="/issues/reissue/{{this._id}}?_method=PUT" method="POST" style="display:inline-block;">
              <input type="number" name="extensionDays" min="1" placeholder="Extend (days)" required style="width: 120px; display: inline-block;" />
              <button type="submit" class="btn btn-sm btn-info">Reissue</button>
            </form>
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
